# Исследование надежности заемщиков

Это первая часть проекта, она будет проверена автоматически. Вторую часть проверит ревьюер.

## Откройте таблицу и изучите общую информацию о данных

**Задание 1. Импортируйте библиотеку pandas. Считайте данные из csv-файла в датафрейм и сохраните в переменную `data`. Путь к файлу:**

`/datasets/data.csv`

In [5]:
import pandas as pd # импортируйте библиотеку pandas

In [3]:
data=pd.read_csv('/datasets/data.csv')# прочитайте csv-файл

NameError: name 'pd' is not defined

**Задание 2. Выведите первые 20 строчек датафрейма `data` на экран.**

In [ ]:
data.head(20)# ваш код здесь

**Задание 3. Выведите основную информацию о датафрейме с помощью метода `info()`.**

In [ ]:
data.info()# ваш код здесь

## Предобработка данных

### Удаление пропусков

**Задание 4. Выведите количество пропущенных значений для каждого столбца. Используйте комбинацию двух методов.**

In [ ]:
data.isnull().sum()# ваш код здесь

**Задание 5. В двух столбцах есть пропущенные значения. Один из них — `days_employed`. Пропуски в этом столбце вы обработаете на следующем этапе. Другой столбец с пропущенными значениями — `total_income` — хранит данные о доходах. На сумму дохода сильнее всего влияет тип занятости, поэтому заполнить пропуски в этом столбце нужно медианным значением по каждому типу из столбца `income_type`. Например, у человека с типом занятости `сотрудник` пропуск в столбце `total_income` должен быть заполнен медианным доходом среди всех записей с тем же типом.**

In [ ]:
for i in data['income_type'].unique():
    data.loc[(data['income_type'] == i) & (data['total_income'].isna()), 'total_income'] = \
    data.loc[(data['income_type'] == i), 'total_income'].median() 
 # ваш код здесь

### Обработка аномальных значений

**Задание 6. В данных могут встречаться артефакты (аномалии) — значения, которые не отражают действительность и появились по какой-то ошибке. Таким артефактом будет отрицательное количество дней трудового стажа в столбце `days_employed`. Для реальных данных это нормально. Обработайте значения в этом столбце: замените все отрицательные значения положительными с помощью метода `abs()`.**

In [ ]:
data['days_employed']=data['days_employed'].abs()# ваш код здесь

**Задание 7. Для каждого типа занятости выведите медианное значение трудового стажа `days_employed` в днях.**

In [ ]:
data.groupby('income_type')['days_employed'].median()

У двух типов (безработные и пенсионеры) получатся аномально большие значения. Исправить такие значения сложно, поэтому оставьте их как есть. Тем более этот столбец не понадобится вам для исследования.

**Задание 8. Выведите перечень уникальных значений столбца `children`.**

In [2]:
print(data['children'].unique())# ваш код здесь

NameError: name 'data' is not defined

**Задание 9. В столбце `children` есть два аномальных значения. Удалите строки, в которых встречаются такие аномальные значения из датафрейма `data`.**

In [6]:

data = data[(data['children'] != -1) & (data['children'] != 20)]

NameError: name 'data' is not defined

**Задание 10. Ещё раз выведите перечень уникальных значений столбца `children`, чтобы убедиться, что артефакты удалены.**

In [ ]:
data['children'].unique()# ваш код здесь

### Удаление пропусков (продолжение)

**Задание 11. Заполните пропуски в столбце `days_employed` медианными значениями по каждому типу занятости `income_type`.**

In [ ]:
for i in data['income_type'].unique():
    data.loc[(data['income_type'] == i) & (data['days_employed'].isna()), 'days_employed'] = \
    data.loc[(data['income_type'] == i), 'days_employed'].median() # ваш код здесь

**Задание 12. Убедитесь, что все пропуски заполнены. Проверьте себя и ещё раз выведите количество пропущенных значений для каждого столбца с помощью двух методов.**

In [ ]:
data.isnull().sum()# ваш код здесь

### Изменение типов данных

**Задание 13. Замените вещественный тип данных в столбце `total_income` на целочисленный с помощью метода `astype()`.**

In [ ]:
data['total_income']=data['total_income'].astype('int')# ваш код здесь

### Обработка дубликатов

**Задание 14. Выведите на экран количество строк-дубликатов в данных. Если такие строки присутствуют, удалите их.**

In [ ]:
data.duplicated().sum()# посчитайте дубликаты

In [ ]:
data=data.drop_duplicates()# удалите дубликаты

**Задание 15. Обработайте неявные дубликаты в столбце `education`. В этом столбце есть одни и те же значения, но записанные по-разному: с использованием заглавных и строчных букв. Приведите их к нижнему регистру. Проверьте остальные столбцы.**

In [ ]:
data['education']=data['education'].str.lower()
# ваш код здесь

### Категоризация данных

**Задание 16. На основании диапазонов, указанных ниже, создайте в датафрейме `data` столбец `total_income_category` с категориями:**

- 0–30000 — `'E'`;
- 30001–50000 — `'D'`;
- 50001–200000 — `'C'`;
- 200001–1000000 — `'B'`;
- 1000001 и выше — `'A'`.


**Например, кредитополучателю с доходом 25000 нужно назначить категорию `'E'`, а клиенту, получающему 235000, — `'B'`. Используйте собственную функцию с именем `categorize_income()` и метод `apply()`.**

In [ ]:
def categorize_income(income):
    if 0<=income<=30000:
        return 'E'
    if 30001<=income<=50000:
        return 'D'
    if 50001<=income<=200000:
        return 'C'
    if 200001<=income<=1000000:
        return 'B'
    if income>=1000001:
        return 'A'

In [ ]:

data['total_income_category']=data['total_income'].apply(categorize_income)# примените функцию методом apply()

**Задание 17. Выведите на экран перечень уникальных целей взятия кредита из столбца `purpose`.**

In [8]:
data['purpose'].unique()# ваш код здесь

NameError: name 'data' is not defined

**Задание 18. Создайте функцию, которая на основании данных из столбца `purpose` сформирует новый столбец `purpose_category`, в который войдут следующие категории:**

- `'операции с автомобилем'`,
- `'операции с недвижимостью'`,
- `'проведение свадьбы'`,
- `'получение образования'`.

**Например, если в столбце `purpose` находится подстрока `'на покупку автомобиля'`, то в столбце `purpose_category` должна появиться строка `'операции с автомобилем'`.**

**Используйте собственную функцию с именем `categorize_purpose()` и метод `apply()`. Изучите данные в столбце `purpose` и определите, какие подстроки помогут вам правильно определить категорию.**

In [1]:
def categorize_purpose(txt):
    if txt=='на покупку подержанного автомобиля'or txt=='приобретение автомобиля'or txt=='на покупку своего автомобиля' or txt=='автомобили'or txt=='автомобиль'or txt=='сделка с подержанным автомобилем' or txt=='свой автомобиль' or txt=='сделка с автомобилем'or txt=='на покупку автомобиля':
        return 'операции с автомобилем'
    if txt=='покупка жилья'or txt=='операции с жильем'or txt=='покупка жилья для семьи' or txt=='покупка недвижимости'or txt=='покупка коммерческой недвижимости'or txt=='покупка жилой недвижимости'or txt=='строительство собственной недвижимости'or txt=='недвижимость'or txt=='строительство недвижимости'or txt=='операции с коммерческой недвижимостью'or txt=='строительство жилой недвижимости'or txt=='жилье'or txt=='операции со своей недвижимостью'or txt=='покупка своего жилья'or txt=='операции с недвижимостью'or txt=='покупка жилья для сдачи'or txt=='ремонт жилью':
        return 'операции с недвижимостью'
    if txt=='сыграть свадьбу'or txt=='на проведение свадьбы'or txt=='свадьба':
        return 'проведение свадьбы'
    if txt=='заняться высшим образованием'or txt=='профильное образование'or txt=='высшее образование'or txt=='получение высшего образования'or txt=='получение дополнительного образования'or txt=='получение образования'or txt=='заняться образованием'or txt=='образование'or txt=='дополнительное образование':
        return 'получение образования'

In [ ]:
data['purpose_category']=data['purpose'].apply(categorize_purpose) # примените функцию методом apply()